<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit XML</title>
    <script>
      let listOfFiles = [];
      function getListOfXmlCells() {
        fetch("/files")
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            if (data) {
              listOfFiles = data;
              const selectElement = document.getElementById("xml-files");
              selectElement.innerHTML = "";
              selectElement.innerHTML += `<option value="">Select XML File</option>`;
              data.forEach((file) => {
                selectElement.innerHTML += `<option value="${file}">${file}</option>`;
              });
            } else {
              alert("Error: " + data.message);
            }
          })
          .catch((error) => console.error("Error:", error));
      }

      function downloadXmlFileByName(fileName) {
        fetch(`/download/${fileName}`)
          .then((response) => response.blob())
          .then((blob) => {
            const url = window.URL.createObjectURL(new Blob([blob]));
            const a = document.createElement("a");
            a.href = url;
            a.download = fileName;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
          })
          .catch((error) => console.error("Error:", error));
      }

      function uploadXmlFile(event) {
        event.preventDefault();
        const fileInput = document.getElementById("xml-file");
        const file = fileInput.files[0];
        const formData = new FormData();
        formData.append("file", file);
        fetch("/upload", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              alert("File uploaded successfully!");
            } else {
              alert("Error: " + data.message);
            }
          })
          .catch((error) => console.error("Error:", error));
      }

      function saveOpenAikey(event) {
        event.preventDefault();
        const openaiKey = document.getElementById("openai-key").value.trim();
        fetch("/load-ai-key", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ text: openaiKey }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              // alert("OpenAI API Key saved successfully!");
            } else {
              console.log("Error: " + data.message);
            }
          })
          .catch((error) => console.error("Error:", error));
      }

      function getSuggestion(event, row) {
        const rowId = row.id;
        const context = row.context;
        event.preventDefault();
        console.log(
          "Getting suggestion for row",
          rowId,
          "with context:",
          context
        );
        const rowElement = document.getElementById(`row_${rowId}`);
        const textarea = rowElement.querySelector("textarea");

        const data = {};
        data[textarea.name] = textarea.value.trim();

        fetch("/get-suggestions", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ text: context }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            if (data.suggestion) {
              const suggestion = data.suggestion;
              if (suggestion) {
                textarea.value = suggestion;
              }
            } else {
              console.log("Error: " + data.message);
            }
          })
          .catch((error) => console.error("Error:", error));
      }

      function saveRowChanges(event, rowId) {
        event.preventDefault();
        const rowElement = document.getElementById(`row_${rowId}`);
        const textarea = rowElement.querySelector("textarea");
        const data = {};
        data[textarea.name] = textarea.value.trim();

        fetch("/save", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              const checkbox = rowElement.querySelector(`#checkbox_${rowId}`);
              if (checkbox) checkbox.checked = true;
            } else {
              alert("Error: " + data.message);
            }
          })
          .catch((error) => console.error("Error:", error));
      }

      function downloadPakFile() {
        fetch("/pack", {
          method: "POST",
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              const pakDownloadUrl = data.download_url;
              if (pakDownloadUrl) {
                console.log("Downloading PAK file...", pakDownloadUrl);
                window.location.href = pakDownloadUrl;
              }
            } else {
              alert("Error: " + data.message);
            }
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
  </head>
  <body>
    <div
      style="
        position: sticky;
        top: 0px;
        background-color: white;
        padding-bottom: 20px;
        border-bottom: 1px solid gray;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      "
    >
      <div>
        <h1>Edit XML Cells</h1>

        <button
          type="button"
          id="download-pak-button"
          onclick="downloadPakFile()"
        >
          Download Updated PAK File
        </button>
      </div>
      <div style="display: flex; gap: 20px">
        <div
          style="
            display: flex;
            gap: 10px;
            flex-direction: column;
            border: 1px solid grey;
            padding: 10px;
          "
        >
          <label for="xml-file">Upload XML File:</label>
          <input type="file" id="xml-file" />
          <button type="button" onclick="uploadXmlFile(event)">
            Upload XML File
          </button>
        </div>
        <div
          style="
            display: flex;
            gap: 10px;
            flex-direction: column;
            border: 1px solid grey;
            padding: 10px;
          "
        >
          <label for="xml-files">Download XML File:</label>
          <button type="button" onclick="getListOfXmlCells()">
            Get List of XML Cells
          </button>
          <select
            id="xml-files"
            onchange="downloadXmlFileByName(this.value)"
          ></select>
        </div>
      </div>
      <div
        style="
          display: flex;
          gap: 10px;
          flex-direction: column;
          border: 1px solid grey;
          padding: 10px;
        "
      >
        <label for="openai-key">OpenAI API Key:</label>
        <input type="text" id="openai-key" placeholder="OpenAI API Key" />
        <button type="button" onclick="saveOpenAikey(event)">
          Save API Key
        </button>
      </div>
    </div>
    <form id="edit-form">
      {% for row in rows %}
      <div
        id="row_{{ row.id }}"
        style="
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding-bottom: 20px;
          align-items: center;
        "
      >
        <label for="cell_{{ row.id }}">Row {{ row.id + 1 }}:</label>
        <input type="checkbox" id="checkbox_{{ row.id }}" name="{{ row.id }}" />
        <div style="width: 80%">
          <div style="margin-bottom: 20px">{{ row.context }}</div>
          <textarea
            type="text"
            id="cell_{{ row.id }}"
            name="cell_{{ row.id }}"
            style="width: 100%"
            rows="5"
          >
{{ row.text }}</textarea
          >
        </div>
        <button
          type="button"
          data-id="{{ row.id }}"
          onclick="saveRowChanges(event, {{ row.id }})"
        >
          Save Changes
        </button>
        <button type="button" onclick="getSuggestion(event,{{row}})">
          Get suggestion
        </button>
      </div>
      {% endfor %}
    </form>
  </body>
</html>
