<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit XML</title>
    <script>
      let xmlDownloadUrl = "";
      let pakDownloadUrl = "";

      function saveChanges(event) {
        event.preventDefault();
        const formData = new FormData(event.target);
        fetch("/save", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              xmlDownloadUrl = data.download_url;
              document.getElementById("download-xml-button").style.display =
                "block";
              document.getElementById("pack-button").style.display = "block";
            } else {
              alert("Error: " + data.message);
            }
          })
          .catch((error) => console.error("Error:", error));
      }

      function downloadXmlFile() {
        if (xmlDownloadUrl) {
          console.log("Downloading XML file...", xmlDownloadUrl);
          window.location.href = xmlDownloadUrl;
        }
      }

      function packXmlToPak() {
        fetch("/pack", {
          method: "POST",
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              pakDownloadUrl = data.download_url;
              document.getElementById("download-pak-button").style.display =
                "block";
            } else {
              alert("Error: " + data.message);
            }
          })
          .catch((error) => console.error("Error:", error));
      }

      function downloadPakFile() {
        if (pakDownloadUrl) {
          console.log("Downloading PAK file...", pakDownloadUrl);
          window.location.href = pakDownloadUrl;
        }
      }
    </script>
  </head>
  <body>
    <h1>Edit XML Cells</h1>
    <form id="edit-form" onsubmit="saveChanges(event)">
      {% for row in rows %}
      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding-bottom: 20px;
          align-items: center;
        "
      >
        <label for="cell_{{ row.id }}">Row {{ row.id + 1 }}:</label>
        <input type="checkbox" id="{{ row.id }}" name="{{ row.id }}" />
        <div style="width: 80%">
          <div style="margin-bottom: 20px">{{row.context}}</div>
          <textarea
            type="text"
            id="cell_{{ row.id }}"
            name="cell_{{ row.id }}"
            style="width: 100%"
            rows="5"
          >
{{ row.text }}</textarea
          >
        </div>
      </div>
      {% endfor %}
      <button type="submit">Save Changes</button>
      <button
        type="button"
        id="pack-button"
        style="display: none"
        onclick="packXmlToPak()"
      >
        Pack XML to PAK
      </button>
      <button
        type="button"
        id="download-pak-button"
        style="display: none"
        onclick="downloadPakFile()"
      >
        Download PAK File
      </button>
    </form>
    <button
      id="download-xml-button"
      style="display: none"
      onclick="downloadXmlFile()"
    >
      Download Updated XML
    </button>
  </body>
</html>
